.index-about {
  position: relative;
  background: url('../images/about_bg.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.637); // Dark color overlay with 50% opacity
    z-index: 1;
  }

  .about-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 4;

    .about-content {
      width: 55%;

      .section-title {
        color: $white;
      }

      .section-heading {
        color: $white;
      }

      .section-des {
        color: $tt-color;
      }

      .about-btn {
        margin-top: 30px;
      }
    }

    .about-image {
      width: 42%;
      position: relative;

      img {
        height: 300px;
        border-radius: 70px 0px 70px 0px;
        border: 3px solid $white ;
        object-fit: cover;
      }

      .info {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;

        .items {
          background-color: $white;
          padding: 20px;
          border-radius: 20px;
          text-align: center;
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}


@include custom_max(992px) {


  .index-about {




    .about-row {
      flex-direction: column;
      align-items: center;

      .about-content {
        width: 100%;



        .about-btn {
          margin-top: 15px;
        }
      }

      .about-image {
        width: 90%;
        margin-top: 30px;


      }
    }
  }





}

@include custom_max(576px) {


  .index-about {




    .about-row {




      .about-image {
        width: 100%;
        margin-top: 30px;

        img {

          border: 4px solid $white ;
        }

        .info {


          .items {
            padding: 10px;
            border-radius: 20px;

          }
        }
      }
    }
  }





}