.contact-page {

    .contact-row {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;

        .details {
            // background-color: $primaryColor;
            width: 45%;

            .map {
                height: 100%;
                border-radius: 10px;
                overflow: hidden;

                iframe {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .form {
            background-color: $white;
            padding: 0px 20px;
            width: 52%;

            form {
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                width: 100%;

                .section-title {
                    font-size: 24px;
                    margin-bottom: 20px;
                    text-align: center;
                }

                .form-group {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    input,
                    select {
                        padding: 10px;
                        margin: 10px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-size: 16px;
                        text-transform: capitalize;
                        width: calc(50% - 20px);
                    }
                }

                textarea {
                    width: calc(100% - 20px);
                    padding: 10px;
                    margin: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 16px;
                    text-transform: capitalize;
                    resize: vertical;
                    height: 100px;
                }

                input[type="submit"] {
                    padding: 10px;
                    margin: 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: $primaryColor;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;
                    width: calc(100% - 20px);
                    text-transform: uppercase;

                    &:hover {
                        background-color: darken(#007BFF, 10%);
                    }
                }
            }


        }
    }

}


@include custom_max(768px) {
    .contact-page {

        .contact-row {
            display: flex;
            margin-top: 30px;
            flex-direction: column-reverse;

            .details {
                // background-color: $primaryColor;
                width: 100%;

                .map {
                    height: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    height: 30vh;

                    iframe {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .form {
                padding: 0px;
                width: 100%;
                margin-bottom: 20px;

                form {
                    padding: 10px;

                    .section-title {
                        font-size: 20px;
                        margin-bottom: 0px;
                    }

                    .form-group {
                        display: flex;
                        flex-direction: column;
                        margin: 0px;

                        input,
                        select {
                            padding: 10px;
                            margin: 10px;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            font-size: 16px;
                            text-transform: capitalize;
                            width: calc(100% - 20px);
                        }
                    }




                }


            }
        }

    }
}